<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment Details</title>
  </head>
  <body>
    <h1>Comment Details</h1>
    <h3>Comment Id: <%= comment.id %></h3>
    <p><%= comment.comment %> - <b><%= comment.username %></b></p>
    <br />
    <a href="/comments">Back to index</a>
  </body>
</html>
