<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Farm</title>
  </head>
  <body>
    <h1>New Farm</h1>
    <form action="/farms" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" placeholder="name" />
      <label for="location">Location: </label>
      <input type="text" name="location" id="location" placeholder="location" />
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="example@email.com"
      />
      <button>Submit</button>
    </form>
    <a href="/farms">All farms</a>
  </body>
</html>
